body {
    display: flex; 
    flex-wrap: wrap;
    background: rgba(50, 108, 156, 0.89); 
    margin: 0; 
    padding: 0;
    overflow-y: scroll;
}


.main-header {
    display: flex;
    font-weight: bold;
    color: gold; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 1400px;
    height: 100px;
    }

.images-container {
    display: flex;
    width: 1400px;
    justify-content: center; 
    margin-top: 48px;;
    gap: 28px; 
  
    

}

.images-container img{
    height: 250px; 
    width: 250px; 
    border: 4px solid white; 
    border-radius: 8px;
    
       
}

.options-container {
    display: flex; 
    width: 1400px;
    justify-content: center;
    
    
}

.options-container ul { 
    display: flex;
    justify-content: space-evenly;
    font-size: 24px; 
    color: white; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    width: 1100px; 
    position: relative;
    right: 12px; 

}

.button-container {
    width: 1300px; 

}

.click {
    font-size: 20px;
    width: 150px;
    position: relative; 
    left: 600px; 
    margin-top: 24px; 
    border-radius: 7px;

}

.round-header { 
    font-size: 32px; 
    color: white; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    left: 540px; 
    margin-top: 24px; 
}

.user-container {
    display: flex;
    width: 1300px;
    justify-content: space-evenly;
    position: relative;
    left: 20px; 
    
    
}

.user-container img { 
    width: 150px; 
    height: 150px; 
    margin-top: 32px; 
    border-radius: 7px; 
    border: 2px solid lightcyan; 
  

}


.computer-score-container {
    width: 600px; 
   
}

.computer-score-container h3{
    font-size: 24px; 
    position: relative;
    left: 320px;
    color: white; 
    width: 250px; 
   

}

.computer-score {
    font-size: 22px; 
    font-weight: bold; 
    margin-top: 8px;  
    background: white; 
    display: flex; 
    justify-content: center;
    border-radius: 7px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    position: relative; 
    width: 32px;
    left: 420px;
    
}


.player-score-container {
    position: relative; 
    width: 600px; 
    
}

.player-score-container h3 {
    position: relative; 
    font-size: 24px;
    left: 230px;
    color: white; 

}


.player-score-container .player-score {
    font-size: 22px; 
    font-weight: bold;  
    background: white; 
    display: flex;
    border-radius: 7px; 
    justify-content: center;
    margin-top: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;  
    width: 32px;
    left: 300px; 
}

.footer-container {
    background: rgb(53, 52, 52);  
    padding: 18px; 
    margin-top: 170px;
    width: 1420px; 
   
}

.footer-container .credits {
    display: flex; 
    width: auto; 
    justify-content: center; 
    font-size: 16px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: white; 
    
}


